*{
    font-size: 20px;
}

body{
    background-color: aqua;
    background-image: url(https://pbs.twimg.com/profile_images/1441044415116685314/0AR96_Y1_400x400.jpg);
    /* nice */
    background-repeat: no-repeat;
}

p{

}

h2{

}