body{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    border-width: thin;
    border-color: brown;
    border-style: dashed;
}

a{
    border: thick dashed blue;
    /* shorthand */
    border-bottom: 5px solid green;
}

p{
    width: 250px;
    height: 250px;
    border: 10px dotted black;
    background-color: burlywood;
    border-radius: 20px 30px 40px 50px;
}